@import "tailwindcss";

@theme {
  --color-fb-primary: #0866ff;
  --color-fb-primary-hover: #166FE5;
  --color-fb-old-blue: #3B5998;
  --color-fb-background: #F2F4F7;
  --color-fb-surface: #FFFFFF;
  --color-fb-stroke: #E4E6EB;
  --color-fb-text: #000000;
  --color-fb-text-secondary: #898F9C;
  --color-fb-white: #FFFFFF;
  --color-fb-black: #29292a;
  --color-fb-neutral: #F2F2F2;
  --color-fb-neutral-hover: #D8DADF;
  --color-fb-text: #050505;
  --font-family-sans: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}